html {
  scroll-behavior: smooth !important;
}

.titleContainer {
  flex-direction: column;
  align-items: center;
}

.title{
    font-size: 45px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

    @media screen and (max-width: 640px){
        text-align: center;
    }
}

.subtitle {
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
  padding-right: 1.5rem;
  padding-left: 1.5rem;


  @media screen and (max-width: 768px){
    font-size: 18px;
    white-space: normal;
}
}

.footer {
  font-size: 16px;
  padding-bottom: 1.5rem;
  margin-top: -1rem;
  text-align: center;
}

.referencesContainer{
  text-align: center;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.reference{
    font-size: 30px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    @media screen and (max-width: 768px){
      font-size: 25px;
  }  
}

.reference2{
  font-size: 30px;
  margin-right: 5px;
  margin-top: 15px;
  padding-right: 5px;
  padding-left: 5px;
  @media screen and (max-width: 768px){
    font-size: 25px;
  }  
}

.uploadBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  
    padding: 20px;
    border-radius: 4px;
    border: 1px dashed;
    
    @media screen and (max-width: 768px){
        width: 75%;
    }
}

.uploadBoxRightChild {
  padding-top: 133px;
}

.uploadBox:hover {
  cursor: pointer;
  background-color: var(--default-hover-cover);
}

.dropzone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px){
    width: 75%;
  }
}

.description{
    text-align: center;
}

.modelSelection{
  width: 50%;
  margin-bottom: 3rem;

  @media screen and (max-width: 768px){
    width: 75%;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
}

.togglebtn{
  margin: 1.5rem;
}

.genButton{
    margin-top: 1.5rem;
    width: 300px;
    margin-bottom: 10rem;

    @media screen and (max-width: 768px){
        width: 75%;
    }
}

.noUnderline{
  text-decoration: none;
  color: inherit;
}

.textInput{
    width: 50%;
    height: 75px;
    margin-top: 3rem;

    @media screen and (max-width: 768px){
      width: 75%;
    }
}

.initiateSpin{
  transform: rotate(180deg);
  transition: transform 1s linear;
}

.markdownContainer {
  width: 720px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.markdownTitle {
  font-size: 30px;
  margin-top: 1rem;
  font-weight: bold;
}

.markdownSubtitle {
  margin-top: 1.5rem;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.markdownContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdownContent a:link {
  color: var(--mantine-color-gray-5);
}

.markdownContent a:visited {
  color: var(--mantine-color-gray-5);
}

.markdownContent a:hover {
  color: var(--mantine-color-gray-6);
}

.footnoteContainer {
  margin-top: 1rem;
}

.footnote {
  font-size: 12px;
}